{%- from "layouts/partials/component.njk" import component -%}

<!doctype html>
<html lang="en">
  {% include 'layouts/partials/head.njk' %}
  <body {% if bodyClass %} class="{{ bodyClass }}"{% endif %}>

    <a class="skip-link btn btn-lg font-sm" href="#main-content">Skip to content</a>

    {% include 'layouts/partials/header.njk' %}

    <main id="main-content" {% if templateClass %} class="{{ templateClass }} {{ pageClass }}"{% endif %}>
      {% block content %}
        Content comes here!
      {% endblock %}
    </main>

    {% include 'layouts/partials/footer.njk' %}

    {% include 'layouts/partials/svgs.njk' %}

    <!-- Current page: {{ page.url | url }} -->

    {% if page.url === '/' %}
      <script src="{{ '/assets/scripts/vendors/modernizr.min.js' | url }}"></script>
    {% endif %}

    <script src="{% if yetty.environment === 'production' %}{{ '/assets/scripts/bundle.min.js' | url | cacheBuster }}{% else %}{{ '/assets/scripts/index.js' | url | cacheBuster }}{% endif %}"></script>

    {% block js %}{% endblock %}
    <script>
      const images = [
        {% for image in albums.album[0].images %}
        "assets/images/scraped/{{image.id}}.jpg",
        {% endfor %}
      ]
      window.onload = () => {
        // preloading
        document.body.style.backgroundImage = `linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url(${images[0]})`
        document.querySelector('.hidden').src = images[1]
        let i = 1
        setInterval(() => {
          document.body.style.backgroundImage = `linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url(${images[i++]})`

          if (i === images.length) i = 0
          else {
            // preload the next image, so that it transitions smoothly
            document.querySelector('.hidden').src = images[i]
          }
        }, 7000)
      }
    </script>
    <img class="hidden" alt="preloading" />
  </body>
</html>
