<section class="albums">
  <ul>
    {# filter the first album that has the cover images #}
    {% for i in range(1, params.albums.album | length) %}
      <li class="postlist__item post-card">
        {{ component('post-card', {
          post: params.albums.album[i]
        }) }}
      </li>
    {% endfor %}
  </ul>
</section>
<script type="module">
  import PhotoSwipeLightbox from "/assets/scripts/vendors/photoswipe-lightbox.esm.js";
  import PhotoSwipe from "/assets/scripts/vendors/photoswipe.esm.js";
  const lightbox = new PhotoSwipeLightbox({gallery: ".pswp-gallery", children: "a", pswpModule: PhotoSwipe});
  lightbox.init();
</script>