---
eleventyNavigation:
  key: Home
  order: 1
---

{% extends 'layouts/home.njk' %}

{% if bodyClass is not defined %}
  {% set bodyClass = 'gradient-home' %}
{% endif %}

{% block content %}
  <section class="hero">
    <h1>{{ metadata.title }}</h1>
    <p class="lead h3">{{ metadata.about }}</p>
  </section>

  {{ component('albums', {albums: albums}) }}

  {{ component('reviews', {reviews: reviews}) }}

{% endblock %}