---
eleventyNavigation:
  key: Home
  order: 1
---

{% extends 'layouts/home.njk' %}

{% if bodyClass is not defined %}
  {% set bodyClass = 'gradient-home' %}
{% endif %}

{% block content %}
  <section class="hero">
    <h1>{{ metadata.title }}</h1>
    <p class="lead h3">{{ metadata.about }}</p>
  </section>

  <ul>
    {# filter the first album that has the cover images #}
    {% for i in range(1, albums.album | length) %}
      <li class="postlist__item post-card">
        {{ component('post-card', {
          post: albums.album[i]
        }) }}
      </li>
    {% endfor %}
  </ul>

  <section class="reviews">
    <h2>Reviews</h2>
    <ul>
      {% for review in reviews.review %}
        <li>
          <h3>{{review.name}}</h3>
          <p>{{review.body}}</p>
        </li>
      {% endfor %}
    </ul>
  </section>

  <script type="module">
    import PhotoSwipeLightbox from "/assets/scripts/vendors/photoswipe-lightbox.esm.js";
    import PhotoSwipe from "/assets/scripts/vendors/photoswipe.esm.js";
    const lightbox = new PhotoSwipeLightbox({gallery: ".pswp-gallery", children: "a", pswpModule: PhotoSwipe});
    lightbox.init();
  </script>
{% endblock %}