---
eleventyNavigation:
  key: Home
  order: 1
---

{% extends 'layouts/home.njk' %}

{% if bodyClass is not defined %}
  {% set bodyClass = 'gradient-home' %}
{% endif %}

{% block content %}
  <section class="hero">
    <h1>{{ metadata.title }}</h1>
    <p class="lead h3">{{ metadata.about }}</p>
  </section>

  {# {{ albums | dump }} #}
  <ul>
    {% for album in albums.album %}
      <li class="postlist__item post-card">
        {{ component('post-card', {
          post: album
        }) }}
      </li>
    {% endfor %}
  </ul>
  <script type="module">
  import PhotoSwipeLightbox from "/assets/scripts/vendors/photoswipe-lightbox.esm.js";
  import PhotoSwipe from "/assets/scripts/vendors/photoswipe.esm.js";
  const lightbox = new PhotoSwipeLightbox({
    gallery: ".pswp-gallery",
    children: "a",
    pswpModule: PhotoSwipe,
  });
  lightbox.init();
</script>
  {# {% set maxPosts = collections.posts.length | min(3) %}
  <h2>Latest {% if maxPosts == 1 %}post{% else %}posts{% endif %}
  </h2> #}

  {# {% set postslist = collections.posts | head(-3) | reverse %} #}
  {# {% set postslistCounter = collections.posts | length %} #}
  {# {% include "layouts/partials/posts-list.njk" %} #}
{% endblock %}
