---
permalink: javascript.js
eleventyExcludeFromCollections: true
---

const images = [
  {% for image in albums.album[0].images %}
    "assets/images/scraped/{{image.id}}.jpg",
  {% endfor %}
]
window.onload = () => {
  // preloading
  document.body.style.backgroundImage = `linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url(${images[0]})`
  document.querySelector('.hidden').src = images[1]
  let i = 1
  setInterval(() => {
    document.body.style.backgroundImage = `linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url(${images[i++]})`

    if (i === images.length) i = 0
    else {
      // preload the next image, so that it transitions smoothly
      document.querySelector('.hidden').src = images[i]
    }
  }, 7000)
}