---
permalink: bundle.js
---
{# {% include "header.js" %} #}
{# {% include "footer.js" %} #}
{# {% include  "node_modules/photoswipe/dist/photoswipe-lightbox.esm.js" %}
{% include "node_modules/photoswipe/dist/photoswipe.esm.js" %} #}