header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media-query(md) {
    flex-direction: row;
  }
}

.home {
  width: 400px;
  height: 10rem;
  margin: var(--space-lg-1h);
  background-image: url("/assets/images/logo.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 0.1px;
}
