.post-card {
  position: relative;
  margin: 2px;
  padding: 0%;

  @include media-query(md) {
    width: 49%;
    float: left;
  }

  &:hover {
    .post-card__link,
    .post-card__link:visited {
      color: var(--link-color);
      text-decoration: none;
    }
  }
}

.post-card__link,
.post-card__link:visited {
  color: var(--heading-font-color);
  text-decoration: none;
}

.post-card__link {
  &::after {
    display: block;
    position: absolute;
    inset: 0;
    content: "";
  }

  &:focus-visible {
    outline: none;

    &::after {
      border: var(--border-width-medium) dashed var(--link-color-alt);
      border-radius: var(--border-radius-default);
    }
  }
}

.post-card__image {
  display: flex;
  height: 19rem;
  filter: grayscale(1) brightness(1);

  &:hover {
    filter:none;
  }

  img {
    width: 100%;
    object-fit: cover;
  }
}

@mixin background-opacity($color, $opacity: 0.3) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

@use "sass:color";

.post-card__content {
  position: absolute;
  top: 5.5rem;
  width: 100%;
  height: 9rem;
  padding: var(--space-lg-1h);
  background-color: #{"rgb(from var(--body-background) r g b / 50%)"};

  p:not(.post-card__title) {
    font-size: var(--font-size-base);
  }
}

.post-card__title {
  margin: var(--space-sm-8) var(--space-0);
}
